
#stats_side_bar{
    width: 10%;
    height: 125vh;
    background-color: red;

}
.col-sm-2 {
    width: 12vw;

}
#game-area {
    width: 100vw;
    height: 125vh;
    z-index: 1;
}

.card {
    width: 12vw;
    height: 40vh;
    position: relative;
    padding: 10px;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
.card{
    perspective: 1000px;
}
.front img {
    position: relative;
    height: 88%;
    width: 88%;
    margin: 10px;
    padding: 10px;
}
.back img {
    position: relative;
    height: 90%;
    width: 90%;
    padding: 10px;
    margin: 10px;
}
.card img {
    position: absolute;
    left:0;
}

p {
    color: white;
}
h3 {
    color: white;
}
ul#skills_list li {
    color: white;
}