.navbar {
    font-family: 'Oswald', sans-serif;
}
.navbar-brand {
    font-weight: 700;
    font-size: 36px;
}
.navbar-inverse a {
    color: #ccc;
}
.navbar-nav a {
    font-weight: 600;
    font-size: 24px;
    color: #cccccc;
}
div.total-area {
    background: url(images/bgspace.jpg) no-repeat;
    background-size: cover;

}
#stats_container {
    width: 10%;
    height: 140vh;
    background-color: red;
    opacity: 0.75;

}
p.label {
    font-size: 20px;
    margin: 20px;
}
p.value {
    font-size: 30px;
    margin: 20px;
}
.reset {
    font-size: 30px;
    margin-top: 100px;
}

.col-sm-2 {
    width: 13vw;

}
#game-area {
    width: 100vw;
    height: 140vh;
    z-index: 1;
}

.card {
    width: 10vw;
    height: 30vh;
    position: relative;
    padding: 5px;
    margin: 5px auto;
}
.card{
    perspective: 1000px;
}
.front img {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}
.back img {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 10px;
}
.card img {
    position: absolute;
    left:0;
}

p {
    color: yellow;
    font-size: 20px;
}
h3 {
    color: yellow;
}
ul#skills_list li {
    color: yellow;
}